---

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<div class="bg-black w-[80%] h-[80%] fixed rounded-3xl">
  <div class="absolute bg-white w-72 h-72 blur-[200px] top-96 left-96 animate-trans-right "></div>
  <div></div>
</div>
